<!-- Main Content -->
<div id="content"> 
    <!-- Begin Page Content -->
    <div class="container-fluid">
        <div class="d-sm-flex justify-content-between align-items-center mb-4" id="filter_div">
            <h3 class="text-dark mb-0">Dashboard</h3>

        </div> 

        <!-- CARD HEADER Content Row -->
        <div class="row">
            <!-- Earnings (Monthly) Card Example -->
              <% @brewed.each do |k,v| %>
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                <%= k  %></div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800"> <%= (v.map{|x| x[1]}).sum %></div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fa fa-desktop fa-4x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
              <% end %> 

        </div>

        <!-- Graphs and such -->
        <div class="row">
            <!-- General Reports -->                
            <div class="col-xl-12 col-lg-12" id="reports">
                    <!-- Reports -->
                    <%= render 'elasticReportsView' %>
            </div>
        </div>

        <div class="row" id="elasticTableView">
            
        </div>
    </div>
    <!-- /.container-fluid -->
</div>
<!-- End of Main Content -->
 

<script type="text/javascript"> 

    function toggle_filter(){
        var mydata = {
            value: 0
        }

         Rails.ajax({
              type: "POST",  
              url: "/filter_toggle", 
              data: new URLSearchParams(mydata).toString(), 
          })

    }


    // Activate Bar Chart
    var barcharts = document.getElementsByClassName('BarChart')
    for (var i =0; i < barcharts.length; i++){
            barcharts[i].addEventListener('click', function(e){

              hidePie(e.srcElement.id)
              hideColumn(e.srcElement.id)
              //Display Bar Chart
              var barChart = 'field_bar_' + e.srcElement.id
              var activateBar = document.getElementById(barChart);
              activateBar.style.display = 'block';

          })
        }

    // Activate Bar Chart
    var piecharts = document.getElementsByClassName('PieChart')
    for (var i =0; i < piecharts.length; i++){
            piecharts[i].addEventListener('click', function(e){
              hideBar(e.srcElement.id)
              hideColumn(e.srcElement.id)
              //Display Pie Chart
              var currentID = 'field_pie_' + e.srcElement.id
              var currentCard = document.getElementById(currentID);
              currentCard.style.display = 'block';

          })
        }
    // Activate Column Chart
    var columncharts = document.getElementsByClassName('ColumnChart')
    for (var i =0; i < columncharts.length; i++){
            columncharts[i].addEventListener('click', function(e){

              hidePie(e.srcElement.id)
              hideBar(e.srcElement.id)
              //Show Column Chart
              var currentColumn = 'column_bar_' + e.srcElement.id
              var columnDiv = document.getElementById(currentColumn);
              columnDiv.style.display = 'block';


          })
        }

    function hidePie(e){
            //Hide Pie Chart
              var currentID = 'field_pie_' + e
              var currentCard = document.getElementById(currentID);
              currentCard.style.display = 'none';
    }

    function hideBar(e){

              //Hide Bar Chart
              var barChart = 'field_bar_' + e
              var activateBar = document.getElementById(barChart);
              activateBar.style.display = 'none';
    }

    function hideColumn(e){
              var currentColumn = 'column_bar_' + e
              var columnDiv = document.getElementById(currentColumn);
              columnDiv.style.display = 'none';
    }

    function generateTimeReport(){
        var endDate = document.getElementById('endDate').value
        var startDate = document.getElementById('startDate').value
        var fieldSelection = document.getElementById('fieldSelection')  
        var field_selected = fieldSelection.options[fieldSelection.selectedIndex].text
        var uniqueSelection = document.getElementById('TimeRangeUniqueSelection')
        var uniqueValue = uniqueSelection.options[uniqueSelection.selectedIndex].text

        var mydata = {
            start_date: startDate,
            end_date: endDate,
            field_selection: field_selected,
            unique_selection: uniqueValue,
        }   

         Rails.ajax({
              type: "POST", 
              url: "/timeRangeReport", 
              data: new URLSearchParams(mydata).toString(), 
          })
    }

    function generateRestrictedReport(){
        var filterFirstParamQuery = document.getElementById('filterFirstParamQuery')
        var filter_one_selected = filterFirstParamQuery.options[filterFirstParamQuery.selectedIndex].text

        var filterOne = document.getElementById('filterOneSelection')
        var filterOneValue = filterOne.options[filterOne.selectedIndex].text

        var filterSecondParamQuery = document.getElementById('filterSecondParamQuery')
        var filter_two_selected = filterSecondParamQuery.options[filterSecondParamQuery.selectedIndex].text

        var filterTwo = document.getElementById('filterTwoSelection')
        var filterTwoValue = filterTwo.options[filterTwo.selectedIndex].text


        var mydata = {
            first_field: filter_one_selected,
            second_field: filter_two_selected,
            filter_one: filterOneValue,
            filter_two: filterTwoValue,
        }   


         Rails.ajax({
              type: "POST", 
              url: "/restrictParam", 
              data: new URLSearchParams(mydata).toString(), 
          })
    }

    function generateFindByReport(){
        let checkedValues = []
        var findByOptions = document.getElementsByClassName('findbyOption')
        for (var i =0; i < findByOptions.length; i++){
            iteratedOption = findByOptions[i]
            console.log("here", iteratedOption.id, "checked?", iteratedOption.checked)
            if (iteratedOption.checked == true){
                checkedValues.push(iteratedOption.id)
            }
        }

        var selectedField = document.getElementById('findBySelect')
        var filter_one_selected = selectedField.options[selectedField.selectedIndex].text




        var mydata = {
            findby_field: filter_one_selected,
            values: checkedValues,
        }   


         Rails.ajax({
              type: "POST", 
              url: "/findBy", 
              data: new URLSearchParams(mydata).toString(), 
          })
    }
</script>






