
<!-- Area Chart -->
<div class="col-xl-12 col-lg-12">
    <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div
            class="card-header py-3 d-flex flex-row align-items-center justify-content-between" id="filter_div">
            <h6 class="m-0 font-weight-bold text-primary">Table</h6>

                <ul class="nav justify-content-end">
                  <li class="nav-item">
                   
<button onclick="toggle_filter()" class="btn btn-secondary"> Filter</button>
                  </li>
                </ul>
        </div>
        <!-- Card Body -->
        <div class="card-body dashboardTable">

            <div class="chart-area">   
                <div class="row">
                    <div class="col-12" id="generatedChart">

                        <% if @headerValues.present? %>
                           <table class="table table-striped dashboardTable">
                                <thead>
                                    <tr>
                                    <% @headerValues.each do |value| %>
                                            <td><%= value %></td>        
                                    <% end %>
                                    </tr>
                                </thead>
                                
                                <tbody>
                                    <% @all_data.each do |data| %>
                                        <tr>
                                            <% count = 0 %>
                                                <% JSON.parse(data).each do |k,v| %>
                                                    <td>
                                                        <% if k == @headerValues[count] %>
                                                            <%= v %>
                                                        <% end %>
                                                    </td>
                                                    <% count +=1 %>
                                                <% end %>

                                        </tr>
                                    <% end %>
                                </tbody>
                            </table>
                        <% else %>
                            <p>Error, contact admin</p>
                        <%end %>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function toggle_filter(){
        var mydata = {
            value: 0
        }

         Rails.ajax({
              type: "POST",  
              url: "/filter_toggle", 
              data: new URLSearchParams(mydata).toString(), 
          })

    }
</script>