<p id="notice"><%= notice %></p>


    <div class="col-xl-12 col-lg-12">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div
                class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Data Sets</h6>
                <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                        aria-labelledby="dropdownMenuLink">
                        <div class="dropdown-header">Action:</div>
                                <!-- enter drop down-->
                    </div>
                </div>
            </div>
            <!-- Card Body -->
            <div class="card-body">

              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Report type</th>
                    <th>Report value</th>
                    <th colspan="1"></th>
                  </tr>
                </thead>

                <tbody>
                  <% @elastic_reports.each do |elastic_report| %>
                    <tr>
                      <td><%= elastic_report.report_type_title %></td>
                      <td><%= elastic_report.report_value_title %></td>
                      <td><%= link_to 'Destroy', elastic_report, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>

              <br>
            </div>
          </div>
        </div>
