// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.displayBarChart{ 
	display: none;
} 

.displayColumnChart{
	display: none;
} 

.row {
  display: flex;
  flex-wrap: wrap;
}

.card {
	display:inline-block;
} 

.dashboardTable{
	width: 100%;
	overflow-y: scroll;
}